<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Form</title>
</head>
<body>
<h1>Create Customer</h1>
<form th:action="@{/create-customer}" method="post" th:object="${customer}">
<table>
    <tr>
        <th>First Name</th>
        <td><input type="text" th:field="*{firstName}"></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td><input type="text" th:field="*{lastName}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Save"></td>
    </tr>
</table>
</form>
</body>
</html>